{{#with category}}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <title>{{name}} « CoreSkill Skill System (CSSS)</title>
      <meta name="robots" content="noindex">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="bootstrap.min.css">
      <link rel="stylesheet" href="csss.css">
      <link rel="stylesheet" href="firebase.css">
      <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-auth.js"></script>
      <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-firestore.js"></script>
      <link rel="shortcut icon" href="/favicon.ico">
    </head>
    <body>
      {{> header}}

      <main class="container p-4">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">CSSS</a></li>
              {{#each categories}}
                <li class="breadcrumb-item"><a href="{{slug}}.html">{{name}}</a></li>
              {{/each}}
              <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
          </ol>
        </nav>

        <h1 class="display-3">{{name}}</h1>

        {{#if text}}
          <p class="m-0 lead text-monospace">{{text}}</p>
        {{/if}}

        {{#if children.[0].skill}}
          <!--<h2 class="mt-5">Skills in this category</h2>-->
          <div class="list-group list-group-flush">
            {{#each children}}
              {{> list-item}}
            {{/each}}
          </div>
        {{else}}
          <!--<h2 class="mt-5">This topic includes</h2>-->
          <div class="list-group list-group-flush">
            {{#each children}}
              {{> list-item}}
            {{/each}}
          </div>
        {{/if}}
      </main>
      <script src="firebase.js"></script>
    </body>
  </html>
{{/with}}
