{{#with category}}
  <!doctype html>
  <html lang="en" data-bs-theme="auto">
    <head>
      <meta charset="utf-8">
      <title>{{name}} « CoreSkill Roadmap</title>
      <meta name="robots" content="noindex">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="preconnect" href="https://fonts.bunny.net/">
      <link href="https://fonts.bunny.net/css2?family=Roboto+Mono&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/bootstrap.min.css">
      <link rel="stylesheet" href="/colors.css">
      <link rel="stylesheet" href="/csss.css">
      <link rel="stylesheet" href="/firebase.css">
      <script src="/firebase-app.js"></script>
      <script src="/firebase-auth.js"></script>
      <script src="/firebase-firestore.js"></script>
      <script src="/markdown-it.min.js"></script>
      <link rel="stylesheet" href="/highlightjs-github-dark.min.css" media="(prefers-color-scheme: dark)">
      <link rel="stylesheet" href="/highlightjs-github.min.css" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
      <script src="/highlight.min.js"></script>
      <link rel="shortcut icon" href="/favicon.ico">
    </head>
    <body>
      {{> header}}

      <main class="container p-4">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Roadmap</a></li>
              {{#each categories}}
                <li class="breadcrumb-item"><a href="{{slug}}">{{name}}</a></li>
              {{/each}}
              <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
          </ol>
        </nav>

        <h1 class="display-3">{{name}}</h1>

        {{#if text}}
          <div class="mb-5 lead markdown-text">{{text}}</div>
        {{/if}}

        {{#if children.[0].skill}}
          <!--<h2 class="mt-5">Skills in this category</h2>-->
          <div class="list-group list-group-flush">
            {{#each children}}
              {{> list-item}}
            {{/each}}
          </div>
        {{else}}
          <!--<h2 class="mt-5">This topic includes</h2>-->
          <div class="list-group list-group-flush">
            {{#each children}}
              {{> list-item}}
            {{/each}}
          </div>
        {{/if}}
      </main>
      <script src="/dark-mode.js"></script>
      <script src="/firebase.js"></script>
      <script>
        function htmlDecode(input) {
          var e = document.createElement('textarea');
          e.innerHTML = input;
          // handle case of empty input
          return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
        }

        md = new markdownit({
          html: true, // Enable HTML tags in source
          breaks: true, // Convert '\n' in paragraphs into <br>
          linkify: true, // Autoconvert URL-like text to links
          typographer: true, // Enable some language-neutral replacement + quotes beautification  For the full list of replacements, see https://github.com/markdown-it/markdown-it/blob/master/lib/rules_core/replacements.js
          langPrefix: 'language-',
          highlight: function (str, lang) {
            if (lang && hljs.getLanguage(lang)) {
              try {
                return hljs.highlight(str, {language: lang}).value;
              } catch (__) {
              }
            }
            return ''; // use external default escaping
          }
        });
        document.querySelectorAll('.markdown-text').forEach(
          text => text.innerHTML = md.render(htmlDecode(text.innerHTML))
        )
      </script>
    </body>
  </html>
{{/with}}
