{{#with skill}}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <title>{{name}} « CoreSkill Skill System (CSSS)</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="firebase.css">
      <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-auth.js"></script>
      <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-firestore.js"></script>
    </head>
    <body>
      <header class="navbar navbar-dark bg-primary">
        <span class="navbar-brand mb-0 h1">CoreSkill Skill System (CSSS)</span>
        <form class="form-inline">
          <button type="button" class="btn btn-outline-light my-2 my-sm-0 login">Sign in with Google</button>
          <button type="button" class="btn btn-outline-light my-2 my-sm-0 logout">Sign out</button>
        </form>
      </header>
      <main class="p-4">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">CSSS</a></li>
              {{#each categories}}
                <li class="breadcrumb-item"><a href="{{slug}}.html">{{name}}</a></li>
              {{/each}}
              <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
          </ol>
        </nav>

        <h1>
          <span class="indicator" data-slug="{{slug}}">
            <span class="done">✔️</span>
            <span class="not-done">❌</span>
          </span>
          {{name}}
        </h1>
        <p><small><a href="graph.html#{{slug}}">Show in dependency graph</a></small></p>

        {{#if requires.length}}
          <h2 class="mt-5">Skills required before this skill</h2>
          <div class="list-group">
            {{#each requires}}
              {{> list-item compareCategories=../categories}}
            {{/each}}
          </div>
        {{/if}}

        {{#if text}}
          <div class="alert alert-secondary p-3">
            <p class="m-0">{{text}}</p>
          </div>
        {{/if}}

        {{#if resources.length}}
          <h2 class="mt-5">Resources</h2>
          <div class="list-group">
            {{#each resources}}
              <a href="{{this.url}}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{this.url}}</h5>
                </div>
                <p class="mb-1">{{this.desc}}</p>
              </a>
            {{/each}}
          </div>
        {{/if}}

        {{#if sameLevelSkills.length}}
          <h2 class="mt-5">Also learn these skills</h2>
          <div class="list-group">
            {{#each sameLevelSkills}}
              {{> list-item compareCategories=../categories}}
            {{/each}}
          </div>
        {{/if}}

        {{#if requiredBy.length}}
          <h2 class="mt-5">Following skills</h2>
          <div class="list-group">
            {{#each requiredBy}}
              {{> list-item compareCategories=../categories}}
            {{/each}}
          </div>
        {{/if}}
      </main>
      <script src="firebase.js"></script>
    </body>
  </html>
{{/with}}
