{{#with skill}}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <title>{{name}} « CoreSkill Skill System (CSSS)</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="firebase.css">
      <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-auth.js"></script>
      <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-firestore.js"></script>
    </head>
    <body>
      {{> header}}

      <main class="container p-4">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">CSSS</a></li>
              {{#each categories}}
                <li class="breadcrumb-item"><a href="{{slug}}.html">{{name}}</a></li>
              {{/each}}
              <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
          </ol>
        </nav>

        {{#if requires.length}}
          <h2 class="mt-3">Prerequisites</h2>
          <div class="list-group">
            {{#each requires}}
              {{> list-item compareCategories=../categories}}
            {{/each}}
          </div>
        {{/if}}

        <div class="mt-5 p-3 bg-light">

          <h1 class="display-3">
            <span class="indicator" data-slug="{{slug}}">
              <span class="done">✔️</span>
              <span class="not-done">❔</span>
            </span>
            {{name}}
          </h1>

          <p><small><a href="graph.html#{{slug}}">Show in dependency graph</a></small></p>

          {{#if text}}
              <p class="m-0">{{text}}</p>
          {{/if}}

          {{#if resources.length}}
            <h2 class="mt-5">Resources</h2>
            <div class="list-group">
              {{#each resources}}
                <a href="{{this.url}}" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{this.url}}</h5>
                  </div>
                  <p class="mb-1">{{this.desc}}</p>
                </a>
              {{/each}}
            </div>
          {{/if}}

        </div>

        {{#if sameLevelSkills.length}}
          <h2 class="mt-5">Also learn these skills</h2>
          <div class="list-group">
            {{#each sameLevelSkills}}
              {{> list-item compareCategories=../categories}}
            {{/each}}
          </div>
        {{/if}}

        {{#if requiredBy.length}}
          <h2 class="mt-5">Following skills</h2>
          <div class="list-group">
            {{#each requiredBy}}
              {{> list-item compareCategories=../categories}}
            {{/each}}
          </div>
        {{/if}}

      </main>
      <script src="firebase.js"></script>
    </body>
  </html>
{{/with}}
